<app-generic *ngIf="camera_size === 'large'" height="480px" width="640px">
    <div style="position: absolute; margin-left: 85px; z-index: 1000;">
        <select style="width: 300px;" [(ngModel)]="inputCamera" (change)="changeCamera()">
            <option *ngFor="let camera of availableCameras" [value]="camera">{{ camera }}</option>
        </select>

        <button style="margin-left: 100px;" (click)="flipCamera()">Flip</button>
    </div>
    <app-camera-box size="large" [camId]="camId" [rotationDeg]="rotationDeg"/>
</app-generic>

<app-generic *ngIf="camera_size === 'small'" height="375px" width="500px">
    <app-camera-box size="small" [camId]="camId" [rotationDeg]="rotationDeg"/>
</app-generic>