<?xml version="1.0" ?>
<sdf version="1.6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <world name="marsyard2020">

    <physics type="ode">
      <ode>
        <solver>
          <!-- IMPORTANT for skid steering to properly work -->
          <friction_model>cone_model</friction_model>
        </solver>
      </ode>
    </physics>

    <light name='sun' type='directional'>
      <pose frame=''>0 0 100 0.5 0.5 0</pose>
      <diffuse>1 1 1 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <direction>0.1 0.1 -0.9</direction>
      <attenuation>
        <range>20</range>
        <constant>0.5</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <cast_shadows>1</cast_shadows>
    </light>

    <scene>
      <ambient>0.6 0.6 0.6 1.0</ambient>
      <sky>
        <clouds>
          <speed>12</speed>
        </clouds>
      </sky>
      <shadows>true</shadows>
      <origin_visual>false</origin_visual>
    </scene>

    <!-- Marsyard -->
    <include>
      <uri>model://marsyard2020_terrain</uri>
    </include>

    <xacro:include filename="sdf/landmark.sdf.xacro"/>

    <xacro:landmark id="1">
      <pose>5.702769 0 -0.065271 0 0 0</pose>
    </xacro:landmark>

    <xacro:landmark id="2">
      <pose>4.503994 6.826416 -0.000455 0 0 0</pose>
    </xacro:landmark>
  
    <xacro:landmark id="3">
      <pose>14.329459 -0.428800 -0.087178 0 0 0.86</pose>
    </xacro:landmark>

    <xacro:landmark id="4">
      <pose>29.215900 5.300520 -0.069001 0 0 0.53</pose>
    </xacro:landmark>

    <xacro:landmark id="5">
      <pose>12.103476 -11.714824 0.377463 0 0 1.25</pose>
    </xacro:landmark>

    <xacro:landmark id="6">
      <pose>18.821705 12.167322 0.12938 0 0 0.73</pose>
    </xacro:landmark>

    <xacro:landmark id="7">
      <pose>18.397116 3.251184 -0.032864 0 0 0.19</pose>
    </xacro:landmark>

    <xacro:landmark id="8">
      <pose>18.566999 -18.526400 0.0577 0 0 1.16</pose>
    </xacro:landmark>

    <xacro:landmark id="9">
      <pose>12.228898 7.785070 0.127643 0 0 1.47</pose>
    </xacro:landmark>

    <xacro:landmark id="10">
      <pose>20.629101 -8.191796 -0.069001 0 0 0.61</pose>
    </xacro:landmark>

    <xacro:landmark id="11">
      <pose>29.695601 -16.672436 0.078902 0 0 0.16</pose>
    </xacro:landmark>

    <xacro:landmark id="12">
      <pose>28.375999 11.429800 -0.09303 0 0 0.21</pose>
    </xacro:landmark>

    <xacro:landmark id="13">
      <pose>30.889601 -5.985371 0.008829 0 0 0.61</pose>
    </xacro:landmark> 

    <xacro:landmark id="14">
      <pose>1.717059 -10.908800 -0.009376 0 0 0.73</pose>
    </xacro:landmark> 
  
    <xacro:landmark id="15">
      <pose>5.813930 14.724000 0.114653 0 0 -0.457594</pose>
    </xacro:landmark> 

  </world>
</sdf>
