<app-generic>
    <p>science-page works!</p>
    <app-line-graph topicName="/test_topic" title="aTitle" 
    y_axis="yyyy"
    x_axis="xxx"/>

    <app-graph topicName="/test_topic" title="aTitle" 
    y_axis="yyyy"
    x_axis="xxx"
    type="line"
    />
    
    <app-graph topicName="/test_topic" title="aTitle" 
    y_axis="yyyy"
    x_axis="xxx"
    type="histogram"
    />

    <button (click)="collect()">
        Get data from service!!!
    </button>
    <button (click)="add()">
        Plus
    </button>
    <h1>

        Hererf is the data: {{data}}
    </h1>
    <app-download/> 

</app-generic>
