.armInfo {
    display: inline-block;
    margin-left: 0px;
    flex-direction: column;
}


button {
    display: inline-block;
    width:fit-content;
    margin: 0 3px;
    background-color: #B6CA7B;
}

.buttons {
    display: inline-block;
    text-align: center;
}

p {
    margin-top: 20px;
    display: flex;
    height: 10px;
}

table {
    width: 96%;
    margin: 2%;
    padding: 2px;
    border: 3px solid gray;
}

td {
    padding: 5px;
    border: 1px solid gray;
    width: 33.3%;
}