<!-- <p>arm-page works! </p> -->
<!-- <div style="display: flex; flex-wrap: wrap;"> -->
<app-generic height="340px" width="500px">
    Joystick <button (click)="enableGamepad()">On</button> <button (click)="disableGamepad()">Off</button>
    <div class="arm">
        <!-- to solve button problem, chnaged app.comp.ts and app.module.ts -->
        <div id="armInfo" style="height: 235px; width: 645px;">
            <div>
                <p id="Wrist">Wrist: {{ array[0] }}</p>
                <div id="buttons">
                    <button id="wrist1" (click)="increment(0)">+</button>
                    <button id="wrist2" (click)="decrement(0)">-</button>
                </div>
            </div>

            <div>
                <p id="Elbow">Elbow: {{ array[1] }}</p>
                <div id="buttons">
                    <button (click)="increment(1)">+</button>
                    <button (click)="decrement(1)">-</button>
                </div>
            </div>

            <div>
                <p id="Shoulder">Shoulder: {{ array[2] }}</p>
                <div id="buttons">
                    <button (click)="increment(2)">+</button>
                    <button (click)="decrement(2)">-</button>
                </div>
            </div>
        </div>
    </div>

    <body>
    </body>

</app-generic>