<app-header />
<div style="width: 100%; height: 100%; margin: auto;">
    <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
        <div>
            <app-camera camera_size="large" camId="1" />
            <!-- <app-backup-camera cameraTopic="/camera_frames" /> -->
            <app-drive-component />
        </div>

        <div>
            <app-camera camera_size="large" camId="2" />
            <app-arm-component></app-arm-component>
        </div>
        <app-gps></app-gps>
    </div>
</div>