<launch>
    <!-- Define arguments -->
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="gui_required" default="true"/>
    <arg name="mesh_enabled" default="true"/>
    <arg name="robot_namespace" default="/"/>
    <arg name="spawn_marsyard" default="true"/> <!-- Argument to decide world -->

    <!-- Conditionally include the Marsyard world -->
    <include file="$(find leo_erc_gazebo)/launch/leo_marsyard2022.launch" if="$(arg spawn_marsyard)"/>

    <!-- Conditionally include the empty Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" unless="$(arg spawn_marsyard)">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" default="false"/>
        <arg name="gui_required" value="$(arg gui_required)"/>
    </include>

    <!-- Group for the robot namespace -->
    <group ns="$(arg robot_namespace)">

        <!-- Load the robot description -->
        <param name="robot_description" command="$(find xacro)/xacro '$(find rover_gazebo)/urdf/rover.urdf.xacro' --inorder mesh_enabled:=$(arg mesh_enabled)" />

        <!-- Spawn the robot model in Gazebo at the specified position 5.965769 -y -0.986708 -z 1.457867 -->
        <node name="ds_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model $(arg robot_namespace) -x 5.965769 -y -0.986708 -z 1.457867" /> 

        <!-- Load robot control parameters -->
        <rosparam command="load" file="$(find rover_gazebo)/config/control.yml" />

        <!-- Spawn the controllers -->
        <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="rover_joint_state_controller rover_velocity_controller" />

        <!-- Publish robot state -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

        <!-- Launch EKF Localization -->
        <node name="ekf_localization_node" pkg="robot_localization" type="ekf_localization_node" output="screen">
            <!-- Load the EKF parameters -->
            <rosparam command="load" file="$(find rover_gazebo)/config/ekf.yaml" />

            <!-- Enable simulation time -->
            <param name="use_sim_time" value="true" />
        </node>

    </group>
</launch>