<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="gui_required" default="true"/>
    <arg name="mesh_enabled" default="true"/>



    <arg name="robot_namespace" default="/"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" default="false"/>
        <arg name="gui_required" value="$(arg gui_required)"/>

    </include>

    <group ns="$(arg robot_namespace)">


        <param name="robot_description" command="$(find xacro)/xacro '$(find rover_gazebo)/urdf/rover.urdf.xacro'
            --inorder  mesh_enabled:=$(arg mesh_enabled)" />

        <node name="ds_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="  -z 0.0 
                        -urdf 
                        -param robot_description 
                        -model $(arg robot_namespace)" />


        <rosparam command="load" file="$(find rover_gazebo)/config/control.yml" />

        <node name="base_controller_spawner" pkg="controller_manager" type="spawner" 
                args="rover_joint_state_controller
                      rover_velocity_controller
                      "/>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        </node>


    </group>

  <arg name="serial_no"             default=""/>
  <arg name="json_file_path"        default=""/>
  <arg name="camera"                default="camera"/>

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="json_file_path"    value="$(arg json_file_path)"/>
      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="30"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="30"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_gyro"       value="true"/>
      <arg name="enable_accel"      value="false"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
    </include>
  </group>

</launch>














<!--
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rover_gazebo)/worlds/rover.world"/>
    
  </include>
  
  
  <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find rover_gazebo)/model.sdf -sdf -z 1 -model rover" />
  
</launch>
-->