<launch>
    <!-- Start the node without specifying a name in the node tag -->
    <node pkg="camera_data" name="camera_pub_1" type="camera_publisher_1.py" output="screen">
    </node>

    <node pkg="camera_data" name="camera_pub_2" type="camera_publisher_2.py" output="screen">
    </node>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  </launch>