<launch>
    <!-- Node for the Game controller -->
    <node pkg="human_control_interface" type="GamepadProcess.py" name="gamepad" output="screen">
    </node>

    <!-- Node for the Game controller -->
    <node pkg="human_control_interface" type="Joystick.py" name="arm" output="screen">
    </node>

    <!-- Node for the user interface -->
    <node pkg="ui_app" type="main.py" name="ui" output="screen">
    </node>

    <node pkg="drive_control" type="drive_control_node.py" name="drive_controller" output="screen">
    </node>
</launch>