<launch>
    <!-- Node for the arm controller -->
    <node pkg="arm_control" type="arm_controller.py" name="arm_controller" output="screen">
    </node>
  
    <!-- Node for the drive controller -->
    <node pkg="drive_control" type="drive_control_node.py" name="drive_controller" output="screen">
    </node>

    <!-- Node for the camera publisher -->
    <node pkg="camera_data" type="camera_publisher.py" name="camera_publisher" output="screen">
    </node>

    <!-- Set the gamepad to send command to the drive system initially -->
    <node pkg="rostopic" type="rostopic" name="system_selection" args="pub system_selection std_msgs/Int16 'data: 0'"/>
    
</launch>