<app-generic height="200px" width="640px">
    Gamepad <button (click)="enableGamepad()">On</button> <button (click)="disableGamepad()">Off</button>
    <div class="drive">
        <div id="driveInfo">
            <hr/>
            Wheel Feedback
            <div style="display: flex; justify-content: space-evenly;">
                <div>
                    <p>0 LF</p>
                    <p>0 LB</p>
                </div>
                <div>
                    <p>RF 0</p>
                    <p>RB 0</p>
                </div>
            </div>
        </div>
    </div>
</app-generic>